.recipe-card {
    margin-bottom: 20px;
  }
  
  .recipe-img {
    width: 100%;
    max-width: 600px;
    cursor: pointer;
    display: block;
  }
  
  .recipe-text {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-top: 10px;
  }
  